.act{
font-size: 20px;
box-shadow: 5px 5px 5px #d9d9d9;
}
.p1{
    color: #afafaf;
    font-size: 25px;
}
.contenu{
    background-color: #d0cfcf;
    border-radius: 5px;
    width: 300px;
    box-shadow: 5px 5px 5px #d9d9d9;
}
.contenu p{
    color: #1F3C88;
    font-size: 22px;
    margin: 0px 0px 10px;
}
.box{
    box-shadow: 7px 7px 7px #ececec;
    background-color: #d0cfcf;
    border-radius: 10px;
    width: 65%;
}
.colcanva{
    height:50%;
}
