.act{
font-size: 20px;
box-shadow: 5px 5px 5px #d9d9d9;
}
.p1{
    color: #afafaf;
    font-size: 25px;
}
.b1{
    color:white;
    background-color: #FFA500;
    font-size: 18px;
    padding: 8px 20px;
}
.b1:hover{
    color:white;
    background-color: #ffbd43;
    font-size: 18px;
    padding: 8px 20px;
}