a {
  cursor: pointer;
  font-size: 22px;
  color: #5DAE50;
  font-weight: bold;
}

.par {
  min-height: 100vh;
  width: 350px;
  box-shadow: 5px 5px 5px #d9d9d9;
  
}

a.active {
  background-color: #5DAE50;
  color: white;
}

a:not(.active):hover {
  background-color: #e0f5e0;
  color: #5DAE50;
}

